body{
    background: url(img/fondo-ahorcado.png);
     
    box-sizing: border-box;
     
    height: 610px;
     
     
}

 
#ocultar{
    height: 500px;
}

 

main{
    opacity: .7;
    height: 550px;
    
    
    
}


header{
    
    color: aliceblue;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    padding: 20px;

}



.palabra-aleatoria{
     
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    height: 50px;
}

.palabra-aleatoria p span{
    display: inline-block;
    width: 20px;
    margin: 0 30px;
    color: white;
    font-size: 2em;
    border-bottom: 2px solid rgb(240, 3, 3);
    position: relative;
    bottom: 300px;
    left: 400px;
    

     
    
} 

.salir{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 2em;
    width: 180px;
    padding: 4px;
    font-weight: bold;
}

.salir:hover{
    color: white;
    background-color: black;
    font-size: 2.2em;
}

.simbolo{
    color: white;
    width: 60px;
    font-size: 2.3em;
}

 
#letras{
    
    background-color: rgb(102, 120, 145);
     
    position: relative;
    bottom: 400px;
    right: 410px;
     
     
}
.buttons{
    background-color: black;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    position: relative;
    bottom: 150PX;
}

button{
    
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    margin: 0 10px;
    
    
}
 

.img{
    background-color: aqua;
    width: 300px;
    margin: 0 auto;
}

#img-ahorcado{
     
    width: 300px;
     
}

.btn-salir{
    width: 200px;
     
}

button:hover{
    background-color: black;
    color: white;
    transform: rotate(2deg);
}

 

#resultado{
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}



#ocultar{
    display: block;
}



@media only screen and (max-width: 600px) {
   body{
    height: 1200px;
    width: 100vh;
   }

   #letras{
       position: relative;
       left: 40px;

       top: 250px;
   }

   .palabra-aleatoria p span{
       position: relative;
       top: 210px;
       left: 100px;
   }

  }